/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        //zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp undefined  &kp Q  &kp W    &kp F      &kp P    &kp B      &kp J          &kp L       &kp U    &kp Y  &kp SINGLE_QUOTE  &kp undefined
&kp undefined  &kp A  &kp R    &kp S      &kp T    &kp G      &kp M          &kp N       &kp E    &kp I             &kp O  &kp undefined
&kp undefined  &kp Z  &kp X    &kp C      &kp D    &kp V      &kp K          &kp H   &kp COMMA  &kp DOT          &kp FSLH  &kp undefined
                             &kp ESC  &kp SPACE  &kp TAB    &kp RET  &kp BACKSPACE  &kp DELETE
            >;
        };
    };
};
